/* body {
  margin: 10px;
}

.aside {
  float: left;
  width: 20%;
  position: fixed;
  left: 0;
}

.article {
  float: left;
  width: 80%;
  margin-left: 20%
}

pre {
  padding: 0;
}

p {
  padding-bottom: 120%;
}

ul {
  list-style-type: none;
}

ul li {
  padding: 5px 0;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
} */

/* || general styles */

html {
  font-family: "helvetica neue", helvetica, arial, sans-serif;
}

body {
  width: 800px;
  margin: 0 auto;
}

h1 {
  font-family: "Impact", cursive;
  font-weight: lighter;
}

/* header styles */

h1 {
  font-size: 4rem;
  text-align: center;
}

header p {
  font-size: 1.3rem;
  text-align: center;
}

/* topNav styles  */

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: #2196f3;
  color: white;
}

/* Style the search box inside the navigation bar */
.search input[type="text"] {
  display: flex;
  padding: 6px;
  border: solid black 1px;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

/* section styles */

section article {
  width: 33%;
  float: left;
}

section p {
  margin: 2px 0;
}

section ul {
  margin-top: 0;
}

h2 {
  font-size: 2.5rem;
  letter-spacing: 0px;
  margin-bottom: 10px;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav a,
  .topnav input[type="text"] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type="text"] {
    border: 1px solid #ccc;
  }
}
